*{
    font-family: Andale Mono, monospace;
    margin: 0; 
    padding: 0;
}
body{
    background: #696969;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

form {
    width: 80%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.head {
    margin: 0;
position: fixed;
width: 100%;
background-color: white;
opacity: .99;
z-index: 3;
}

.panier_millieu{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
    }


.passercom {
    display: flex;
        background-color: black;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 200px;
        text-align: center;
        justify-content: center;
        justify-self: right;
        text-decoration: none;
    }
    .passercom a{
        text-decoration: none;
        color: white;
    }

    .image_produit img{
        max-width: 200px;
        height: 150px;
margin-right: 100px;

    }

    .tableau tr td{
margin-right: 5px;


    }

.libelle_produit{
    display: flex;
 font-weight: bold;
transform: translate(-60px, 10px);
}

.prix_produit{
    display: flex;
margin-right: 10px;

}

.qte_produit input{
    display: flex;
margin-right: 100px;

width: 50px;
}

.haut_table {
    display: flex;
    justify-content: space-around;
    
    }

    .supprimer_produit{
        display: flex;
        background-color: black;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 200px;
        text-align: center;
        justify-content: center;
        justify-self: right;
        text-decoration: none;

    }


.supprimer_produit a{
    color: white;
    text-decoration: none;
}
    .panier_produit{
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;

    }

.panier_vide{

display: flex;
justify-content: space-between;

}
.truc{
display: flex;

}
.supprimer_panier{
display: flex;


}