*{
    font-family: Andale Mono, monospace;
    margin: 0; 
    padding: 0;
}


.head {
    margin: 0;
position: fixed;
width: 100%;
background-color: white;
opacity: .99;
z-index: 3;
}

.panier_millieu{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
    }

    .image_produit img{
        max-width: 200px;
        height: 150px;
margin-right: 100px;

    }

    .tableau tr td{
margin-right: 5px;


    }

.libelle_produit{
    display: flex;
 font-weight: bold;
transform: translate(-60px, 10px);
}

.prix_produit{
    display: flex;
margin-right: 10px;

}

.qte_produit input{
    display: flex;
margin-right: 100px;

width: 50px;
}

.haut_table {
    display: flex;
    justify-content: space-around;
    
    }

    .supprimer_produit{
        display: flex;
    margin-left: 50px;

    }
    .panier_produit{
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;

    }

.panier_vide{

display: flex;
justify-content: space-between;

}
.truc{
display: flex;

}
.supprimer_panier{
display: flex;


}