.texte {
    font-family: Andale Mono, monospace;
}

.panier {
    vertical-align: bottom;
    align-self: flex-start;
}

.truc {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
}

.logo {
    align-self: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
}

.banderole {
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
    width: auto;
    height: 250px;
    border: 3px solid;
}

.corps {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
}

.promo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.lespromo{
display: flex;
flex-direction: column;
margin-top: 5%;

}

.Recherche {
    display: flex;
    flex-direction: column;
}

.commentaire {
    display: flex;
    margin-right: 5%;
    border: solid;
}

.item {
    display: flex;
    flex-wrap: wrap;
    border: solid;
    width: 300px;
}

.tout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.image_produit img{
    order: 1;
    max-width: 200px;
    max-height: 500px;
    height: auto;
    overflow:auto;
}

.nom_produit{
    display: flex;
    order: 2;
    flex-wrap: wrap;
}

.nom_produit>* {
    flex: 1 1 5px
}

.descprition_produit {
    display: flex;
    order: 3;
    flex-wrap: wrap;
}
.description_produit>* {
    flex: 1 1 5px
}

.prix_produit {
    order: 4;
}

.top{
    margin-top: 5%;
    
    border: solid;
}