.texte {
    font-family: Andale Mono, monospace;
}

.panier {
    vertical-align: bottom;
    align-self: flex-start;
}

.truc {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
}

.logo {
    align-self: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
}
.banderole{
    margin-right: 2%;
    margin-left: 2%;
}


.corps{
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
}

.produit {
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}
.Recherche{
display: flex;
flex-direction: column;
}


.vide{
    display: flex;
        
}

.vide img{

max-width: 200px;
height: 10000px;
}
.item{
    display: flex;
    
    flex-wrap: wrap;
    
}

.tout{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.image_produit img{
order: 1;
max-width: 200px;
height: auto;
}
.nom_produit p{
order: 2;

}

.nom_produit>*{
    flex: 1 1 8px
}

.descprition_produit{
order: 3;
}
.prix_produit{
order: 4;

}