.texte {
    font-family: Andale Mono, monospace;
}

.panier {
    vertical-align: bottom;
}

.truc {
    display: flex;
    justify-content:space-between;
    
    }


.logo{
    align-self: center;
}
.panier{
   align-self: flex-start;
}


.menu {
    display: flex;
    
    justify-content:space-between;
    
}
.banderole{

    
}